* {
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --black: #040404;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --green: #2e5339;
  --light-green: #e8f0eb;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: var(--gray1);
  background-color: var(--white);
}
